<a href="https://colab.research.google.com/github/kartikbandarwad99/Crypto/blob/main/Crypto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.69)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [19]:
!pip install yahoofinancials

Requirement already satisfied: yahoofinancials in /usr/local/lib/python3.7/dist-packages (1.6)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2018.9)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)

In [21]:
import pandas as pd
import numpy as np
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd
from datetime import datetime
today=datetime.today().strftime('%Y-%m-%d')

In [ ]:
def get_history(name):
  yahoo_financials = YahooFinancials('{}-INR'.format(name))
  data=yahoo_financials.get_historical_price_data("2010-01-01", today, "daily")
  df = pd.DataFrame(data['{}-INR'.format(name)]['prices'])
  df = df.drop('date', axis=1)
  df.rename(columns = {'formatted_date':'date'}, inplace = True)
  df=df[['date','high','low','open','close','volume']]
  return df

In [24]:
l1=['BTC','ETH','BNB','USDT','SOL','ADA','USDC','HEX','XRP','LUNA1']
#names=['Bitcoin','Ethereum','Binance','USDT']
def get_present_data(abvr):
  # define lists to hold the present data of different cryptos
  current_volume=[]
  market_cap=[]
  mov_avg_200=[]
  mov_avg_50=[]
  current_price=[]
  # iterating through the names and fetching the data
  for i in abvr:
    yahoo_financials = YahooFinancials('{}-INR'.format(i))
    vol=yahoo_financials.get_current_volume()
    cap=yahoo_financials.get_market_cap()
    ma_200=yahoo_financials.get_200day_moving_avg()
    ma_50=yahoo_financials.get_50day_moving_avg()
    cp=yahoo_financials.get_current_price()
    current_volume.append(vol)
    market_cap.append(cap)
    mov_avg_200.append(ma_200)
    mov_avg_50.append(ma_50)
    current_price.append(cp)

  # convert the data to dataframe
  df = pd.DataFrame(list(zip(abvr,current_price,current_volume,market_cap,mov_avg_200,mov_avg_50)),columns =['Abvr','current_price','current_volume','market_cap','MA_200','MA_50'])
  #df1.columns=['Symbol','current_price']
  #df1['Name']=name1 
  #df1.to_csv('Invested_cryptos.csv')
  return df

In [25]:
get_present_data(abvr=l1)

    Abvr  current_price  ...        MA_200         MA_50
0    BTC   3.109862e+06  ...  3.621711e+06  3.554012e+06
1    ETH   2.301848e+05  ...  2.592128e+05  2.865084e+05
2    BNB   3.474973e+04  ...  3.433274e+04  3.954825e+04
3   USDT   7.440094e+01  ...  7.451847e+01  7.502522e+01
4    SOL   1.010482e+04  ...  1.036720e+04  1.300173e+04
5    ADA   1.031616e+02  ...  1.355664e+02  1.008105e+02
6   USDC   7.435626e+01  ...  7.449267e+01  7.498438e+01
7    HEX   1.521260e+01  ...  1.807266e+01  1.680292e+01
8    XRP   5.474930e+01  ...  7.105331e+01  6.298163e+01
9  LUNA1   5.876880e+03  ...  3.137787e+03  5.730920e+03

[10 rows x 6 columns]

In [ ]:
l2=['BTC-INR','ETH-INR','SOL-INR','SAND-INR','BAT-INR','MANA-INR','DOGE-INR']
current_price=[]

for i in l2:
  yahoo_financials = YahooFinancials(i)
  cp=yahoo_financials.get_current_price()
  current_price.append(cp)

In [ ]:
df1 = pd.DataFrame(list(zip(l2,current_price )),columns =['Name','current_price'])
df1.columns=['Symbol','current_price']
name1=['Bitcoin','Ethereum','Solana','Sandbox','BAT','Decentraland','Dogecoin']
df1['Name']=name1 
df1.to_csv('Invested_cryptos.csv')

In [ ]:
df.to_csv('top10_crypto_jan6.csv')